{
  "openapi": "3.1.0",
  "info": {
    "title": "COR API",
    "description": "The COR API lets you integrate with projectcor.com applications using simple HTTP methods, in either XML or JSON formats, making this an ideal API for developing integrations with other softwares, external clients or mobile applications",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.projectcor.com/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "JWT Authorization by Client credentials",
        "description": "We'll be using the OAuth2 Client Credentials workflow as an authentication strategy and JWTs for the format of the tokens.",
        "security": [],
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "client_credentials"
              ],
              "default": "client_credentials"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "JWT Authorization by Authorization code",
        "description": "The authorization code is obtained by using an authorization server (COR) as an intermediary between the client and resource owner.",
        "security": [],
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "authorization_code"
              ],
              "default": "authorization_code"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorization code obtained from consent screen"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "JWT Authorization by User Credentials",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User E-Mail"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "User Password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get Authenticated User",
        "description": "Returns information about the currently authenticated user",
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/refreshtoken": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "JWT Refresh Token",
        "description": "Refresh the user token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string",
                    "description": "Refresh token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contacts",
        "description": "Retrieves a paginated list of contacts. By default, responses are paginated with 20 items per page.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "boolean"
              ],
              "default": 1
            },
            "description": "Page number (default: 1). Set to `false` to disable pagination."
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page (default: 20)."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedContactsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/search-by-name/{name}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      }
    },
    "/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get contracts",
        "description": "Retrieves a paginated list of contracts.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "boolean"
              ],
              "default": 1
            },
            "description": "Page number (default: 1). Set to `false` to disable pagination."
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page (default: 20)."
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "URL-encoded JSON object with filter criteria."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractListBodyInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of contracts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedContractsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contract_id}": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create contract",
        "description": "Creates a contract using the provided contract identifier.",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractCreateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contracts"
        ],
        "summary": "Update contract",
        "description": "Updates the specified contract.",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contracts"
        ],
        "summary": "Delete contract",
        "description": "Deletes the specified contract.",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contract deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/users": {
      "post": {
        "tags": [
          "Contracts Users"
        ],
        "summary": "Attach users to a contract",
        "description": "Attaches one or more users to a contract, each with one or more date ranges.",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractAttachUsersInput"
              },
              "example": {
                "users": [
                  {
                    "id": 123,
                    "dates": [
                      {
                        "start": "2026-01-01",
                        "end": "2026-02-01"
                      },
                      {
                        "start": "2026-01-01",
                        "end": "2026-02-02"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Users attached to contract with full or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractAttachUsersResponse"
                },
                "example": {
                  "status": "partial_success",
                  "company_id": 999,
                  "contract_id": 777,
                  "records_received": 8,
                  "records_created": 2,
                  "records_rejected": 8,
                  "assigned": [
                    {
                      "id": 501,
                      "user_id": 88001,
                      "start_date": "2024-01-01T00:00:00.000Z",
                      "end_date": "2024-12-31T00:00:00.000Z"
                    },
                    {
                      "id": 502,
                      "user_id": 88001,
                      "start_date": "2024-03-01T00:00:00.000Z",
                      "end_date": "2024-06-30T00:00:00.000Z"
                    }
                  ],
                  "errors": [
                    {
                      "id": 88001,
                      "dates": [
                        {
                          "start": "2024-06-01",
                          "end": "2024-04-01",
                          "message": "Date malformatted. Start date must be before end date"
                        },
                        {
                          "start": null,
                          "end": null,
                          "message": "Date malformatted"
                        },
                        {
                          "start": "2024-02-01",
                          "end": null,
                          "message": "Date malformatted. Start and end date are required"
                        },
                        {
                          "start": "not-a-date",
                          "end": "2024-12-31",
                          "message": "Invalid date"
                        },
                        {
                          "start": "1990-01-01",
                          "end": "1990-06-30",
                          "message": "Invalid contract periods. Range must be within contract start and end dates"
                        }
                      ],
                      "message": "Partial success. Some dates were rejected"
                    },
                    {
                      "id": "hello",
                      "dates": [
                        {
                          "start": "2024-01-01",
                          "end": "2024-12-31"
                        }
                      ],
                      "message": "User malformatted"
                    },
                    {
                      "id": 88002,
                      "start": "2024-01-01",
                      "end": "2024-12-31",
                      "message": "Legacy format detected. Use \"dates\" array instead of \"start\" and \"end\" fields"
                    },
                    {
                      "id": 88003,
                      "dates": [],
                      "message": "Date malformatted or empty"
                    },
                    {
                      "id": 88004,
                      "dates": [
                        {
                          "start": "2024-07-01",
                          "end": "2024-07-01",
                          "message": "Date malformatted. Start date must be before end date"
                        }
                      ],
                      "message": "Dates are malformatted or empty"
                    },
                    {
                      "id": 88005,
                      "dates": [
                        {
                          "start": null,
                          "end": null,
                          "message": "Date malformatted"
                        }
                      ],
                      "message": "Partial success. Some dates were rejected"
                    },
                    {
                      "id": 999999,
                      "dates": [
                        {
                          "start": "2024-01-01",
                          "end": "2024-12-31"
                        }
                      ],
                      "message": "User malformatted"
                    },
                    {
                      "id": 88005,
                      "dates": [
                        {
                          "start": "2024-01-01",
                          "end": "2024-06-30"
                        }
                      ],
                      "message": "User malformatted"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/positions": {
      "get": {
        "tags": [
          "Contract Positions"
        ],
        "summary": "Get contract positions",
        "description": "Retrieves all positions associated with a contract.",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "boolean"
              ],
              "default": 1
            },
            "description": "Page number (default: 1). Set to `false` to disable pagination."
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page (default: 20)."
          }
        ],
        "responses": {
          "200": {
            "description": "List of contract positions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedContractPositionRatesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contract Positions"
        ],
        "summary": "Create contract position",
        "description": "Creates a new position rate for the specified contract.",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractPositionCreateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract position created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractPositionRate"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/positions/{contract_position_rate_id}": {
      "put": {
        "tags": [
          "Contract Positions"
        ],
        "summary": "Update contract position",
        "description": "Updates rate and/or hours for a contract position.",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contract_position_rate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractPositionUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract position updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractPositionRate"
                }
              }
            }
          }
        }
      }
    },
    "/clients": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get clients",
        "description": "Retrieves a paginated list of clients. By default, responses are paginated with 20 items per page.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "boolean"
              ],
              "default": 1
            },
            "description": "Page number (default: 1). Set to `false` to disable pagination."
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page (default: 20)."
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "URL-encoded JSON object with filter criteria."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of clients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedClientsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Create a new client",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ClientInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{id}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get client by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Clients"
        ],
        "summary": "Update client",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ClientInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      }
    },
    "/clients/search-by-name/{name}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get clients by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/{id}/favorite": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Set/Unset client as favorite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "favorited"
                ],
                "properties": {
                  "favorited": {
                    "type": "boolean",
                    "description": "Whether to set as favorite"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Favorite status updated"
          }
        }
      }
    },
    "/clients/{client_id}/fees": {
      "get": {
        "tags": [
          "Fees"
        ],
        "summary": "Get Fees from a client",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of fees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fee"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Fees"
        ],
        "summary": "Create a fee",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fee created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}/fees/{fee_id}": {
      "put": {
        "tags": [
          "Fees"
        ],
        "summary": "Update fee",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fee updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}/fees/{fee_id}/historicals": {
      "get": {
        "tags": [
          "Fees"
        ],
        "summary": "Get Historical fees",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical fees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fee"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fees": {
      "get": {
        "tags": [
          "Fees"
        ],
        "summary": "Get Fees",
        "description": "Retrieves a paginated list of fees. By default, responses are paginated with 20 items per page.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "boolean"
              ],
              "default": 1
            },
            "description": "Page number (default: 1). Set to `false` to disable pagination."
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page (default: 20)."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of fees",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedFeesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get Projects",
        "description": "Retrieves a paginated list of projects for the company. Supports filtering by client, dates, status, health, and more. By default, responses are paginated with 20 items per page.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "boolean"
              ],
              "default": 1
            },
            "description": "Page number (default: 1). Set to `false` to disable pagination and return all results."
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page when pagination is active (default: 20)."
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "URL-encoded JSON object with filter criteria. Available fields: `dateStart` (YYYY-MM-DD), `dateEnd` (YYYY-MM-DD), `client_id` (number), `team_id` (number), `user_id` (number), `brand_id` (number), `product_id` (number), `status` (\"finished\"|\"in_process\"|\"suspended\"), `health` (1-4), `archived` (1=archived, 2=active)."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedProjectsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a project",
        "description": "Create a new project entity.\n\n**Time estimation modes** — Projects support three mutually exclusive ways to estimate time (set via the Profitability tab in the UI):\n\n1. **Total hours** (default): send only `estimated_time`.\n2. **By positions**: set `estimated_by_position: true` and provide `users_positions` with `estimated_time` per position.\n3. **By categories**: set `estimation_by_categories: 1` (or `true`) and provide `categories` with `estimated_time` per category.\n\nWhen using `income_type: \"hourly_rate\"`, also set `estimated_by_hourly_rates: true` and assign a ratecard via `ratecard_id`.\n\n> **Note:** These fields are unrelated to the **Project Estimates** endpoints (`/projects/{project_id}/project_estimate`), which manage budget line items (title, cost, fee).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectInput"
              },
              "examples": {
                "totalHours": {
                  "summary": "Total hours estimation",
                  "value": {
                    "name": "Website Redesign",
                    "client_id": 10,
                    "start": "2026-05-01",
                    "estimated_time": 120,
                    "income_type": "fee",
                    "fee_id": 5,
                    "currency_id": 1
                  }
                },
                "byPositions": {
                  "summary": "Estimation by positions",
                  "value": {
                    "name": "Mobile App",
                    "client_id": 10,
                    "start": "2026-05-01",
                    "estimated_by_position": true,
                    "income_type": "hourly_rate",
                    "estimated_by_hourly_rates": true,
                    "ratecard_id": 3,
                    "currency_id": 1,
                    "users_positions": [
                      {
                        "id": 1,
                        "estimated_time": 80
                      },
                      {
                        "id": 2,
                        "estimated_time": 40
                      }
                    ]
                  }
                },
                "byCategories": {
                  "summary": "Estimation by categories",
                  "value": {
                    "name": "Brand Campaign",
                    "client_id": 10,
                    "start": "2026-06-01",
                    "estimation_by_categories": 1,
                    "income_type": "fee",
                    "fee_id": 5,
                    "currency_id": 1,
                    "categories": [
                      {
                        "id": 7,
                        "estimated_time": 60
                      },
                      {
                        "id": 8,
                        "estimated_time": 30
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project by ID",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Update a project",
        "description": "Update a project entity. Include only the fields you want to change.\n\n**Time estimation** — You can switch estimation mode by updating `estimated_by_position` / `estimation_by_categories` together with `users_positions` / `categories`. Positions present in the project but absent from the `users_positions` array will have their estimated hours reset to 0 (or be soft-deleted if no hours have been logged against them).\n\n> These fields are unrelated to **Project Estimates** (`/projects/{project_id}/project_estimate`), which manage budget line items.",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectPutUpdateBody"
              },
              "examples": {
                "updateLabels": {
                  "summary": "Update labels only",
                  "value": {
                    "labels": []
                  }
                },
                "switchToByPositions": {
                  "summary": "Switch to estimation by positions",
                  "value": {
                    "estimated_by_position": true,
                    "estimation_by_categories": false,
                    "users_positions": [
                      {
                        "id": 1,
                        "estimated_time": 80
                      },
                      {
                        "id": 2,
                        "estimated_time": 40
                      }
                    ]
                  }
                },
                "updateHourlyRates": {
                  "summary": "Enable hourly rates with ratecard",
                  "value": {
                    "estimated_by_hourly_rates": true,
                    "ratecard_id": 3,
                    "income_type": "hourly_rate"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ProjectPutUpdateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete a project",
        "description": "Destroy a project entity.",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted successfully"
          }
        }
      }
    },
    "/projects/search-by-name/{project_name}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get projects by name",
        "parameters": [
          {
            "name": "project_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}/messages": {
      "post": {
        "tags": [
          "Projects",
          "Messages"
        ],
        "summary": "Post project message",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/MessageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message posted successfully"
          }
        }
      }
    },
    "/projects/{project_id}/messages": {
      "get": {
        "tags": [
          "Projects",
          "Messages"
        ],
        "summary": "Get messages by project",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/project_cost": {
      "get": {
        "tags": [
          "Projects",
          "Costs"
        ],
        "summary": "Get Project Costs",
        "description": "Get a list of associated project costs",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of project costs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectCost"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects",
          "Costs"
        ],
        "summary": "Add Project Cost",
        "description": "Create an associated project cost",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCostInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project cost created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCost"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/project_cost/{project_cost_id}": {
      "put": {
        "tags": [
          "Projects",
          "Costs"
        ],
        "summary": "Update Project Cost",
        "description": "Update an associated project cost",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_cost_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCostInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project cost updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCost"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects",
          "Costs"
        ],
        "summary": "Delete Project Cost",
        "description": "Delete an associated project cost",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_cost_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Project cost deleted successfully"
          }
        }
      }
    },
    "/projects/{project_id}/attachments": {
      "get": {
        "tags": [
          "Projects",
          "Attachments"
        ],
        "summary": "Get attachment by Project",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attachments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/labels": {
      "get": {
        "tags": [
          "Projects",
          "Labels"
        ],
        "summary": "Get project labels",
        "description": "Returns project label categories and available labels for the company (same shape as grouped categories for the project entity type), plus the labels currently assigned to the given project in **`selected`**.\n\nUse **`GET /categories/labels-model?model=project`** for a simpler category tree without per-project selection. To **assign or remove** labels on a project, use **`PUT /projects/{project_id}`** with a `labels` array.",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID. Must belong to the authenticated user's company."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "boolean"
              ],
              "default": false
            },
            "description": "Pagination page number. Set to false (the default) to disable pagination."
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Page size when pagination is enabled."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "{}"
            },
            "description": "JSON object as a string (must be valid JSON) for sort criteria passed to the label query."
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "{}"
            },
            "description": "JSON object as a string (must be valid JSON) with filter criteria for the grouped labels query (e.g. `ids`, `name`, `limit`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Grouped project labels and labels assigned to this project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectLabelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g. invalid JSON in `order` or `filters`, or project not found / not in company)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CORCustomError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/collaborators": {
      "get": {
        "tags": [
          "Projects",
          "Collaborators"
        ],
        "summary": "Get project collaborators",
        "description": "Get users and teams collaborators from project.",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of project collaborators",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectCollaborator"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g. project not found or not in company)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "CORCustomError"
                    },
                    "code": {
                      "type": "string",
                      "example": "PC001"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects",
          "Collaborators"
        ],
        "summary": "Add project collaborators",
        "description": "Add individual collaborators to project.",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "usersIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Array of user IDs to add as collaborators"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collaborators added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Collaborators added successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g. project or users invalid)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "CORCustomError"
                    },
                    "code": {
                      "type": "string",
                      "example": "PC001"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/collaborators/{user_id}": {
      "delete": {
        "tags": [
          "Projects",
          "Collaborators"
        ],
        "summary": "Delete project collaborator",
        "description": "Delete individual collaborator from project.",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Collaborator deleted successfully"
          },
          "400": {
            "description": "Validation error (e.g. project or user not found)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "CORCustomError"
                    },
                    "code": {
                      "type": "string",
                      "example": "PC001"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/project_estimate": {
      "get": {
        "tags": [
          "Projects",
          "Estimates"
        ],
        "summary": "Get Project Estimates",
        "description": "Get a list of associated project estimates",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of project estimates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectEstimate"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects",
          "Estimates"
        ],
        "summary": "Add Project Estimate",
        "description": "Create an associated project estimates",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectEstimateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project estimate created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEstimate"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/project_estimate/{project_estimate_id}": {
      "put": {
        "tags": [
          "Projects",
          "Estimates"
        ],
        "summary": "Update a Project Estimate",
        "description": "Modify an associated project estimates",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_estimate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectEstimateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project estimate updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEstimate"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects",
          "Estimates"
        ],
        "summary": "Delete a Project Estimate",
        "description": "Delete an associated project estimates",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_estimate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Project estimate deleted successfully"
          }
        }
      }
    },
    "/projects/{project_id}/ratecard": {
      "get": {
        "tags": [
          "Projects",
          "Ratecards"
        ],
        "summary": "Get project ratecard",
        "description": "Returns the ratecard currently assigned to the project, or `null` if none is assigned. The ratecard defines pricing configurations (positions, rates, custom percentages) used when `estimated_by_hourly_rates` is enabled.",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ratecard assigned to the project (or null)",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Ratecard"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/brands": {
      "get": {
        "tags": [
          "Brands"
        ],
        "summary": "Get Brands",
        "description": "Retrieves a paginated list of brands. By default, responses are paginated with 20 items per page.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "boolean"
              ],
              "default": 1
            },
            "description": "Page number (default: 1). Set to `false` to disable pagination."
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page (default: 20)."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of brands",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBrandsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Brands"
        ],
        "summary": "Create a brand",
        "description": "Create a new brand entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Brand created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand"
                }
              }
            }
          }
        }
      }
    },
    "/brands/{brand_id}": {
      "get": {
        "tags": [
          "Brands"
        ],
        "summary": "Get brand by ID",
        "parameters": [
          {
            "name": "brand_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Brand details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Brands"
        ],
        "summary": "Update a brand",
        "description": "Update a brand entity.",
        "parameters": [
          {
            "name": "brand_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Brand Name"
                  },
                  "client_id": {
                    "type": "integer",
                    "description": "Client ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Brand updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Brands"
        ],
        "summary": "Delete a brand",
        "description": "Destroy a brand entity.",
        "parameters": [
          {
            "name": "brand_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Brand deleted successfully"
          }
        }
      }
    },
    "/userPosition": {
      "post": {
        "tags": [
          "User Positions"
        ],
        "summary": "Create a user position",
        "description": "Creates a new user position.\n\nIf company has the feature flag to manage positions by labels enabled, Field `segmentLabel` is required. For companies without this feature enabled, `segmentLabel` is ignored.\n\nFied `company_id` is automatically set from the authenticated user's company.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPositionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User position created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPosition"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or missing segmentLabel when feature flag is enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validationError": {
                    "value": {
                      "status": 400,
                      "name": "CORCustomError",
                      "code": "F010",
                      "message": "Validation error message"
                    }
                  },
                  "missingSegmentLabel": {
                    "value": {
                      "status": 400,
                      "name": "CORCustomError",
                      "code": "UP001",
                      "message": "Segment label is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/userPosition/{id}": {
      "put": {
        "tags": [
          "User Positions"
        ],
        "summary": "Update a user position",
        "description": "Updates an existing user position.\n\nIf company has the feature flag to manage positions by labels enabled, field `segmentLabel` is required and will be used to group the position by label.\n\nAll fields in the request body are optional. Only provided fields will be updated.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User position ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPositionUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User position updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPosition"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or missing segmentLabel when feature flag is enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validationError": {
                    "value": {
                      "status": 400,
                      "name": "CORCustomError",
                      "code": "UC010",
                      "message": "Validation error message"
                    }
                  },
                  "missingSegmentLabel": {
                    "value": {
                      "status": 400,
                      "name": "CORCustomError",
                      "code": "UP001",
                      "message": "Segment label is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/userPosition/getPositionsOnly": {
      "get": {
        "tags": [
          "User Positions"
        ],
        "summary": "Get active user positions",
        "description": "Returns all active user positions for the authenticated user's company. Only active positions and active categories are returned. The company scope always comes from the authenticated user and cannot be set manually.\n\nResults are ordered by category name, then by position name. This endpoint does not paginate.\n\n**Query parameters**\n\n- **`lang`** (optional): Language for localized names. If omitted, uses the authenticated user's configured language; if none is set, defaults to **EN**. Examples: `EN`, `ES`, `BR`, `FR`.\n- **`groupedByCategory`** (optional): When present with a **truthy** value, returns positions grouped by category. When omitted or falsy, returns a flat array. For predictable behavior, use `groupedByCategory=true` to group, and omit the parameter for a flat list.",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code for position and category names. Defaults to the authenticated user's language, or EN if not set.",
            "schema": {
              "type": "string",
              "example": "ES"
            }
          },
          {
            "name": "groupedByCategory",
            "in": "query",
            "required": false,
            "description": "If truthy, returns positions grouped by category. Omit or use a falsy value for a flat list.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active positions as a flat list, or grouped by category when `groupedByCategory` is truthy",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Flat list",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserPositionActiveFlatItem"
                      }
                    },
                    {
                      "title": "Grouped by category",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserPositionsGroupedByCategoryItem"
                      }
                    }
                  ]
                },
                "examples": {
                  "Flat list": {
                    "summary": "Flat list",
                    "description": "GET /userPosition/getPositionsOnly?lang=ES",
                    "value": [
                      {
                        "id": 101,
                        "name": "Diseñador Senior",
                        "category_id": 10,
                        "category_name": "Diseño"
                      },
                      {
                        "id": 102,
                        "name": "Desarrollador Semi Senior",
                        "category_id": 11,
                        "category_name": "Desarrollo"
                      }
                    ]
                  },
                  "Grouped by category": {
                    "summary": "Grouped by category",
                    "description": "GET /userPosition/getPositionsOnly?lang=ES&groupedByCategory=true",
                    "value": [
                      {
                        "categoryName": "Desarrollo",
                        "categoryId": 11,
                        "positions": [
                          {
                            "id": 102,
                            "name": "Desarrollador Semi Senior"
                          }
                        ]
                      },
                      {
                        "categoryName": "Diseño",
                        "categoryId": 10,
                        "positions": [
                          {
                            "id": 101,
                            "name": "Diseñador Senior"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": 401,
                  "message": "Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/userPosition/labels/groupers": {
      "get": {
        "tags": [
          "User Positions"
        ],
        "summary": "Get position segment labels",
        "description": "Returns list of segment labels used to group user positions.\n\nThis endpoint is only available for companies with feature flag to manage positions by labels enabled. The endpoint requires authentication and will return a 403 error if the feature is not enabled for company.",
        "x-mint": {
          "content": "<Warning>\n\nThese labels are not user positions (e.g., \"Backend Developer\", \"Analista de datos\"). They are the classification criteria used to group positions (e.g., by seniority, area, or department). To retrieve actual user positions grouped by category, use [GET /userPosition/getPositionsOnly](/api-reference/user-positions/get-active-user-positions).\n\n</Warning>"
        },
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Defines whether labels are retrieved for positions or categories. Must be 'c' for categories or 'p' for positions",
            "schema": {
              "type": "string",
              "enum": [
                "c",
                "p"
              ],
              "example": "p"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of segment labels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SegmentLabel"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid type parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": 400,
                  "name": "CORCustomError",
                  "code": "CTR002",
                  "message": "Invalid type data"
                }
              }
            }
          },
          "403": {
            "description": "Feature flag to manage positions by labels not enabled for company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get Products",
        "description": "Retrieves a paginated list of products. By default, responses are paginated with 20 items per page.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "boolean"
              ],
              "default": 1
            },
            "description": "Page number (default: 1). Set to `false` to disable pagination."
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page (default: 20)."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedProductsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create a product",
        "description": "Create a new product entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      }
    },
    "/products/{product_id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get product by ID",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Update a product",
        "description": "Update a product entity.",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Product Name"
                  },
                  "client_id": {
                    "type": "integer",
                    "description": "Client ID"
                  },
                  "brand_id": {
                    "type": "integer",
                    "description": "Brand ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Delete a product",
        "description": "Destroy a product entity.",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Product deleted successfully"
          }
        }
      }
    },
    "/projectTemplates": {
      "get": {
        "tags": [
          "Project Templates"
        ],
        "summary": "Get Project Templates",
        "description": "Retrieves a paginated list of project templates. By default, responses are paginated with 20 items per page.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "boolean"
              ],
              "default": 1
            },
            "description": "Page number (default: 1). Set to `false` to disable pagination."
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page (default: 20)."
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "URL-encoded JSON object with filter criteria. Available fields: `name` (string)."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of project templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedProjectTemplatesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Tasks",
        "description": "Retrieves a paginated list of tasks. By default, responses are paginated with 20 items per page.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "boolean"
              ],
              "default": 1
            },
            "description": "Page number (default: 1). Set to `false` to disable pagination."
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page (default: 20)."
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filters for the task list, expressed as a JSON object **URL-encoded** into this query string.\n\n**Examples of common keys**\n\n- **`projects`** — One project ID, or an array of project IDs.\n- **`pm`** — One user ID, or an array of user IDs for the task PM.\n- **`status`** — One status or several; examples: `nueva`, `en_proceso`, `finalizada`.\n\n**Other supported keys** in the same object include `labels`, `categories`, `clients`, `collaborator`, `priority`, and `sprints`.\n\n**Important:** Use only this parameter for filtering. Do **not** add extra query parameters such as `?project_id=` or `?user_id=`."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional sort specification as a JSON object **URL-encoded** into this query string.\n\nFor each field you want to sort by, set the value to **`ASC`** or **`DESC`** (where supported).\n\n**Sortable fields** include `client`, `project`, `task`, `deadline`, `datetime`, `pm`, `priority`, and `sprint`.\n\nThe response also uses a default tie-breaker: the task's defined order ascending."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTasksResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create a task",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get task by ID",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Tasks"
        ],
        "summary": "Update a Task",
        "description": "Update Task attributes",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Delete a Task",
        "description": "Delete a Task",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Task deleted successfully"
          }
        }
      }
    },
    "/tasks/search-by-title/{title}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get tasks by title",
        "parameters": [
          {
            "name": "title",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{task_id}/messages": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get messages by Task",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Post task message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message posted successfully"
          }
        }
      }
    },
    "/tasks/{task_id}/attachments": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get task attachments",
        "description": "Lists attachments for a task (paginated), excluding child versions.",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the task"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Current page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "default": {
                "created_at": "DESC"
              }
            },
            "description": "Sort criteria (e.g. `{\"created_at\": \"DESC\"}`)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of attachments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAttachmentListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true,
                  "example": null
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Upload task attachments",
        "description": "Uploads one or more files to a task via multipart/form-data.",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the task (task_log_id)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File(s) to upload"
                  },
                  "available": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether the file is visible"
                  },
                  "session_token": {
                    "type": "string",
                    "nullable": true,
                    "default": null,
                    "description": "Session token to group uploads and defer notification"
                  },
                  "attachment_parent_id": {
                    "type": "integer",
                    "nullable": true,
                    "default": null,
                    "description": "ID of the parent attachment (for versioning)"
                  },
                  "status": {
                    "type": "string",
                    "nullable": true,
                    "default": null,
                    "enum": [
                      "approved",
                      "pending",
                      "required",
                      null
                    ],
                    "description": "Attachment status"
                  },
                  "created_from": {
                    "type": "string",
                    "default": "task_panel",
                    "enum": [
                      "task_panel",
                      "rework",
                      "feedback"
                    ],
                    "description": "Origin of the upload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAttachmentUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "No files could be uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentUploadBadRequest"
                }
              }
            }
          },
          "417": {
            "description": "Task not found (validation failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorArray"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Delete task attachments",
        "description": "Deletes one or more attachments from a task.",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the task"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "attachments"
                ],
                "properties": {
                  "attachments": {
                    "oneOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      {
                        "type": "integer"
                      }
                    ],
                    "description": "ID(s) of the attachment(s) to delete"
                  },
                  "lastPage": {
                    "type": "integer",
                    "description": "Last page number (used for re-pagination)"
                  },
                  "order": {
                    "type": "object",
                    "default": {
                      "created_at": "DESC"
                    },
                    "description": "Sort criteria for replacement elements"
                  }
                }
              }
            }
          }
        },
[...]
